# ===============================
# Python cache files
# ===============================
__pycache__/
*.pyc

# ===============================
# Virtual environments
# ===============================
venv/
.env/

# ===============================
# Dataset (do not upload raw data)
# ===============================
data/

# ===============================
# Trained model files (IMPORTANT)
# ===============================
*.h5
*.keras

# ===============================
# OS / Editor files
# ===============================
.DS_Store
Thumbs.db
